<app-header></app-header>
<main>
  <ul id="users">
    <li *ngFor="let user of users; index as i">
      <app-users
        [isSelected]="user.id == selectedUser?.id"
        [userId]="user.id"
        [imgPath]="user.avatar"
        [userName]="user.name"
        (selectedUser)="onSelectUser($event)"
      />
    </li>
  </ul>
  <app-tasks [newTask]="newTask" (displayAddTaskDiv)="showAddTaskDiv = true" [userData]="selectedUser"></app-tasks>

  <app-add-task (newTask)="addNewTask($event);showAddTaskDiv = false" [selectedUser]="selectedUser" (cancleDialog)="showAddTaskDiv = false" *ngIf="showAddTaskDiv"></app-add-task>
</main>
